SANDBOX
/target
/.amp/portals/*
/mcps/
/terminals/
/dist/
.env
wire-app/apple_sounds_wav.zip
wire-app/assets/icon-preview.png
wire-app/assets/new-icon.png
wire-app/assets/new-icon-fancy.png
wire-app/assets/new-icon-bigger.png
wire-app/assets/new-icon-450.png
